/* All CSS styles go here */

html{
  box-sizing: border-box;
	width: 1275px;
	font-family: broadsheet,serif;
	font-weight: 400;
	font-style: normal;
}
.BodyContainer{
	position: relative;
	width: 1275px;
	height: 10370px;
	overflow: hidden;
	top: -8px;
	left: -10px;

	
	margin: 0px;
	padding: 0px;
	border: 0px;
	
}

.Head{
	font-family: "Old London Alternate";
	src: url("file:///C:/Users/abiga/Creative%20Cloud%20Files/Ambassador%20Website/Assets/old_london/OldLondonAlternate.ttf"),
  format('truetype');
	font-size: 150px;
}
.h2{
	font-family: "Old London Alternate";
	src: url("file:///C:/Users/abiga/Creative%20Cloud%20Files/Ambassador%20Website/Assets/old_london/OldLondonAlternate.ttf"),
  format('truetype');
	font-size: 50px;
	padding: 0px;
	margin: 0px;
}
.item{
	font-weight: bolder;
	letter-spacing: 2px;
}

*,*:before, *:after{
  box-sizing: inherit;
}
img{
  max-width: 100%;
}
.navBar{
	position: absolute;
  width: 1275px;
  height: 35px;
  background-color: black;
	left: 0px;
	top: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	
	display: grid;
  grid-template-areas: 
	  'A A A A A A H M T';
	column-gap: 0px;
	
	text-align: left;
	text-decoration: none;
}
.Ambassador{
	position: relative;
	top: 25%;
	left: 20px;
	color: white;
	grid-area: 'A';
}
.Home{
	position: relative;
	top: 12%;
	left: 490%;	
	color: white;
	text-align: center;
	grid-area: 'H';
	text-decoration: none;
	width: 50px;
}
.Menu{
	position: relative;
	top: 12%;
	left: 440%;
	color: white;
	text-align: center;
	grid-area: 'M';
	text-decoration: none;
	width: 50px;
}
.TakeNBake{
	position: relative;
	top: 12%;
	left: 260%;
	color: white;
	text-align: left;
	grid-area: 'T';
	text-decoration: none;
	width: 125px;
}

/*Scrolling Marquee*/
	.marquee {
		top: 40px;
		height: 30px;
		width: 1525px;
		border-bottom: 1px solid black;
		padding: 0;
	  margin: 0 auto;
	  white-space: nowrap;
	  overflow: hidden;
	  position: absolute;
	}

	.marquee span {
	  display: inline-block;
	  padding-left: 100%;
	  animation: marquee 30s linear infinite;
	}

	.marquee2 span {
	  animation-delay: 15.1s;
	}

	@keyframes marquee {
	  0% {
		transform: translate(0, 0);
	  }
	  100% {
		transform: translate(-100%, 0);
	  }
	}

/*Hero Section*/
.Hero{
	width: 1275px;
	height: 325px;
	position: relative;
	top: 70px;
	left: -10px;
}
.MenuTitle{
	position: relative;
	left: 25%;
	top: -600px;
}

.container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-gap: 30px;
  padding: 50px;
	
	position: relative;
	top: 350px;
}
.container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.column1{
	width: 550px;
	color: white;
}
.AppPartI{
	text-align: left;
	font-size: 18px;
}
.PizzaPartI{
	text-align: left;
	font-size: 18px;
}
.PastaPartI{
	text-align: left;
	font-size: 18px;
}
.SaladPartI{
	text-align: left;
	font-size: 18px;
}
.SandPartI{
	text-align: left;
	font-size: 18px;
}
.CocktailsPartI{
	text-align: left;
	font-size: 18px;
}

.column2{
	width: 550px;
	color: white;
}
.AppPartII{
	text-align: left;
	font-size: 18px;
}
.PizzaPartII{
	text-align: left;
	font-size: 18px;
}
.PastaPartII{
	text-align: left;
	font-size: 18px;
}
.SaladPartII{
	text-align: left;
	font-size: 18px;
}
.SandPartII{
	text-align: left;
	font-size: 18px;
}
.CocktailsPartII{
	text-align: left;
	font-size: 18px;
}


.BYOPBox{
	position: relative;
	top: -6675px;
	left: 50px;
	color: white;
}

.PizzaImg{
	position: relative;
	top: -8725px;
	left: 650px;
}
.PastaImg{
	position: relative;
	top: -7750px;
	left: 630px;
}
.SaladImg{
	position: relative;
	top: -7425px;
	left: -200px;
	width: 900px;
}
.SandImg{
	position: relative;
	top: -6825px;
	left: 650px;
}
.BYOPImg{
	position: relative;
	top: -10020px;
	width: 610px;
	left: 500px;
}


/*Dark Background*/
.Bckgrnd{
	position: absolute;
	top: 700px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#img1{
	
}
#img2{
	position: absolute;
	top: 780px;
	left: 0px;
}
#img3{
	position: absolute;
	top: 1560px;
	left: 0px;
}
#img4{
	position: absolute;
	top: 2340px;
	left: 0px;
}
#img5{
	position: absolute;
	top: 3120px;
	left: 0px;
}
#img6{
	position: absolute;
	top: 3900px;
	left: 0px;
}
#img7{
	position: absolute;
	top: 4680px;
	left: 0px;
}
#img8{
	position: absolute;
	top: 5460px;
	left: 0px;
}
#img9{
	position: absolute;
	top: 6240px;
	left: 0px;
}
#img10{
	position: absolute;
	top: 7020px;
	left: 0px;
}
#img11{
	position: absolute;
	top: 7800px;
	left: 0px;
}
#img12{
	position: absolute;
	top: 8580px;
	left: 0px;
}
#img13{
	position: absolute;
	top: 9360px;
	left: 0px;
}


/*Footer Section*/
.Footer{
	position: relative;
	width: 1285px;
	height: 212px;
	background-color: black;
	left: -10px;
	bottom: 3400px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	
	display: grid;
	grid-template-areas: 
		'Address Hours Contact NavFoot';
}
.ColOne{
	position: relative;
	grid-area: 'Address';
	color: white;
	letter-spacing: 2px;
	
	
	left: 50px;
	top: 20px;
	text-align: justify;
	

}
.ColTwo{
	grid-area: 'Hours';
	color: white;
	letter-spacing: 2px;
	
	position: relative;
	top: 10px;

}
.ColThree{
	grid-area: 'Contact';
	color: white;
	letter-spacing: 2px;
	
	position: relative;
	top: 10px;
	left: -20px;

}
.ColFour{
	grid-area: 'NavFoot';
	color: white;
	
	text-decoration: none;
	list-style-type: none;
	letter-spacing: 2px;
	
	position: relative;
	top: 10px;
	left: -70px;
	line-height: 1.75;
}
.FacebookIcon{
	position: relative;
	top: 10px;
	left: -4px;
}


/*new type of code to help with responsive design*/
/*In plain terms, it says "when the screen is a minium width, activate these style
rules." The rules follow inside of the curly brackets like any other CSS*/
@media screen and (min-width: 768px){
  

  }
@media screen and (min-width: 1024px){
  .second{


  }
}
